/* AllAuctioneers.css */

/* Style for the container */
.container {
  width: 60%;
  margin: 0 auto;
  padding: 20px;
}

/* Style for the catalog container */
.catalog-container {
  margin-top: 5vh;
  justify-content: space-between;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

/* Style for each catalog item */
.catalog-item {
  background-color: #cac8c8;
  border: 1px solid #ccc;
  padding: 20px;
  width: 30%; /* Adjust the width as needed */
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.3);
}

/* Style for item details */
.item-details h3 {
  font-size: 18px;
  margin: 0;
}

.item-details p {
  margin: 5px 0;
}

/* Style for item actions */
.item-actions {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

.approve-button,
.delete-button {
  padding: 5px 10px;
  cursor: pointer;
  border: none;
  outline: none;
  border-radius: 5px;
}

.approve-button {
  background-color: #4caf50;
  color: white;
}

.delete-button {
  background-color: #f44336;
  color: white;
}
