/* VehicleForm.css */

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 80vh; /* Decreased the height to 80% of the viewport height */
  width: 80%; /* Increased the width to 80% of the viewport width */
  background-color: #f0f0f0;
}

.form-prop {
  width: 80%; /* Set the width to 90% of the viewport width */
  max-width: 600px; /* Set the maximum width for the form */
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #fff; /* Background color for the form */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Add a shadow effect */
}

h2 {
  text-align: center; /* Center the heading */
}

label {
  font-weight: bold;
}

select {
  appearance: none; /* Remove default styles on select */
}

.btn-primary {
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px;
  padding: 10px 20px;
  cursor: pointer;
  display: block;
  margin: 0 auto; /* Center the button */
}

.btn-primary:hover {
  background-color: #0056b3;
}
