
.all-auc-container {
  max-width: 1300px;
  margin: 80px auto; /* Increased space at the top */
}

.all-auc-header {
  color: #000000;
}

.all-auc-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

.all-auc-thread .all-auc-th {
  background-color: #363753;
  color: #fff;
  padding: 15px; /* Increased padding for header cells */
  text-align: left;
}

.all-auc-tbody td {
  border: 1px solid #ddd;
  padding: 10px; /* Increased padding for data cells */
}

/* Alternate row colors */
.all-auc-tbody tr:nth-child(even) {
  background-color: #e5e5e5; /* Change this color as needed for even rows */
}

.all-auc-tbody tr:nth-child(odd) {
  background-color: #ffffff; /* Change this color as needed for odd rows */
}

.all-auc-input {
  width: calc(100% - 16px); /* Adjusted width for input fields */
  padding: 10px;
  margin-bottom: 5px;
  box-sizing: border-box;
}

.save-button-allauc,
.cancel-button-allauc,
.all-button-allauc,
.delete-button-allauc {
  padding: 10px 15px;
  margin-right: 10px;
  cursor: pointer;
  border: none;
  border-radius: 5px;
  font-size: 14px;
}

.save-button-allauc {
  background-color: #4caf50; /* Changed save button color */
  color: #fff;
}

.cancel-button-allauc {
  background-color: #ddd;
  color: #363753;
}

.all-button-allauc {
  background-color: #2196f3; /* Changed all button color */
  color: #fff;
}

.delete-button-allauc {
  background-color: #f44336;
  color: #fff;
}