/* ForumTable.css */

/* Style for the table */
.table1 {
  width: 100%;
  border-collapse: separate;
  border-spacing: 0.5rem;
}

/* Table header */
.table-header {
  border: 1px solid #66778d;
  border-radius: 0.25rem;
  padding: 0.5rem;
  font-weight: bold;
  text-align: center;
}

/* Table data cells */
.table-cell {
  border: 1px solid #66778d;
  border-radius: 0.25rem;
  padding: 0.5rem;
  text-align: center;
}

/* Style for operation icons */
.operation-icons a {
  text-decoration: none;
  margin-right: 0.5rem;
}

/* Customize the operation icons as needed for forums */
.info-icon {
  color: #38a169; /* You can update the colors as needed */
  font-size: 1.5rem;
}

.edit-icon {
  color: #d69e2e;
  font-size: 1.5rem;
}

delete-icon {
  color: #e53e3e;
  font-size: 1.5rem;
}
