#email-login {
  padding: 10px 12px;
}
.MuiInputBase-root {
  height: auto !important; /* Override any height restrictions */
  padding: 16px 12px;
}

.login-img {
  border-radius: 0%;
  width: 30vh;
  height: 8vh;
}
