/* #demo-simple-select-label {
  height: 30vh;
} */
.custom-textfield {
  width: 50%; /* Increase the width */
  /* You can also adjust other styles as needed, e.g., height, padding, etc. */
}
.small-container {
  width: 300px; /* Set the maximum width to 100px initially */
  width: 100%; /* Add this to make the width 100% of the parent container */
}
@media (min-width: 500px) {
  .css-1oqqzyl-MuiContainer-root {
    max-width: 500px;
  }
}
/* Apply the media query for screens with a minimum width of 600px */
@media (max-width: 500px) {
  .small-container {
    max-width: 500px; /* Change the maximum width to 300px for larger screens */
  }
}
