* {
  padding: 0;
  margin: 0;
}
.index {
  background-color: #ffffff;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.index .div {
  background-color: #ffffff;
  height: 100%;
  position: relative;
  width: 100%;
}

.index .overlap-group {
  height: 100%;
  left: 0;
  position: absolute;
  top: -12px;
  width: 100%;
}

.index .rectangle {
  background-color: #363753;
  height: 100px;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}

.index .text-wrapper {
  -webkit-text-stroke: 1px #ffffff;
  color: #ffffff;
  font-family: "Inter", Helvetica;
  font-size: 20px;
  font-weight: 400;
  left: 1086px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 42px;
}

.index .text-wrapper-2 {
  -webkit-text-stroke: 1px #ffffff;
  color: #ffffff;
  font-family: "Inter", Helvetica;
  font-size: 20px;
  font-weight: 400;
  left: 710px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-shadow: 0px 4px 4px #00000040;
  top: 42px;
}

.index .line {
  height: 85px;
  left: 828px;
  object-fit: cover;
  position: absolute;
  top: 12px;
  width: 1px;
}

.index .auction-pal {
  height: 35px;
  left: 32px;
  position: absolute;
  top: 55px;
  width: 181px;
}

.index .text-wrapper-3 {
  -webkit-text-stroke: 1px #ffffff;
  color: #ffffff;
  font-family: "Inter", Helvetica;
  font-size: 20px;
  font-weight: 400;
  left: 855px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 42px;
}

.index .img {
  height: 85px;
  left: 1054px;
  object-fit: cover;
  position: absolute;
  top: 12px;
  width: 1px;
}

.index .rectangle-2 {
  background-color: #ebbd46;
  border-radius: 10px;
  height: 74px;
  left: 1271px;
  position: absolute;
  top: 16px;
  width: 141px;
}

.index .text-wrapper-4 {
  -webkit-text-stroke: 1px #ffffff;
  color: #ffffff;
  font-family: "Inter", Helvetica;
  font-size: 25px;
  font-weight: 400;
  left: 1294px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 39px;
}

.index .div-2 {
  background-color: #363753;
  border: 1px solid;
  border-color: #000000;
  height: 71px;
  left: 17px;
  position: absolute;
  top: 16px;
  width: 216px;
}

.index .auction-pal-2 {
  height: 32px;
  left: 30px;
  position: absolute;
  top: 39px;
  width: 170px;
}

.index .rectangle-3 {
  background-color: #d9d9d9;
  height: 100%;
  left: 0;
  position: absolute;
  top: 118px;
  width: 100%;
}

.index .text-wrapper-5 {
  color: #000000;
  font-family: "Inter", Helvetica;
  font-size: 20px;
  font-weight: 700;
  left: 90px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 300px;
  width: 150px;
}

.index .line-2 {
  height: 1px;
  left: 65px;
  position: absolute;
  top: 381px;
  width: 272px;
}

.index .whatsapp-image {
  height: 174px;
  left: 112px;
  object-fit: cover;
  position: absolute;
  top: 156px;
  width: 176px;
}

.index .text-wrapper-6 {
  color: #000000;
  font-family: "Inter", Helvetica;
  font-size: 24px;
  font-weight: 500;
  left: 40px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 517px;
  width: 270px;
}

.index .text-wrapper-7 {
  color: #000000;
  font-family: "Inter", Helvetica;
  font-size: 24px;
  font-weight: 500;
  left: 40px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 581px;
  width: 270px;
}

.index .customer-support {
  color: #000000;
  font-family: "Inter", Helvetica;
  font-size: 24px;
  font-weight: 500;
  left: 40px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 649px;
  width: 340px;
}

.index .rectangle-4 {
  background-color: #ffffff;
  height: 50px;
  left: 0;
  position: absolute;
  top: 442px;
  width: 406px;
}

.index .notification-alerts {
  color: #000000;
  font-family: "Inter", Helvetica;
  font-size: 24px;
  font-weight: 500;
  left: 40px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 451px;
  width: 250px;
}

.index .line-3 {
  height: 1064px;
  left: 406px;
  position: absolute;
  top: 118px;
  width: 2px;
}

.index .rectangle-5 {
  background-color: #03ac13;
  border-radius: 35px;
  height: 70px;
  left: 609px;
  position: absolute;
  top: 191px;
  width: 300px;
}

.index .rectangle-6 {
  background-color: #03ac13;
  border-radius: 35px;
  height: 70px;
  left: 1100px;
  position: absolute;
  top: 191px;
  width: 300px;
}

.index .rectangle-7 {
  background-color: #d9d9d9;
  border: 3px solid;
  border-color: #000000;
  border-radius: 15px;
  height: 767px;
  left: 600px;
  position: absolute;
  top: 345px;
  width: 650px;
}

.index .rectangle-8 {
  height: 50px;
  left: 858px;
  position: absolute;
  top: 415px;
  width: 621px;
}

.index .rectangle-9 {
  height: 231px;
  left: 858px;
  position: absolute;
  top: 602px;
  width: 620px;
}

.index .text-wrapper-8 {
  color: #000000;
  font-family: "Inter", Helvetica;
  font-size: 25px;
  font-weight: 500;
  left: 670px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 215px;
  width: 350px;
}

.index .text-wrapper-9 {
  color: #000000;
  font-family: "Inter", Helvetica;
  font-size: 25px;
  font-weight: 500;
  left: 1180px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 215px;
  width: 350px;
}

.index .text-wrapper-10 {
  color: #000000;
  font-family: "Inter", Helvetica;
  font-size: 32px;
  font-weight: 500;
  left: 846px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 361px;
  white-space: nowrap;
  width: 246px;
}

.index .text-wrapper-11 {
  color: #000000;
  font-family: "Inter", Helvetica;
  font-size: 32px;
  font-weight: 500;
  left: 846px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 553px;
  white-space: nowrap;
  width: 226px;
}

.index .rectangle-10 {
  background-color: #03ac13;
  border-radius: 24px;
  height: 70px;
  left: 936px;
  position: absolute;
  top: 982px;
  width: 211px;
}

.index .rectangle-11 {
  background-color: #03ac13;
  border-radius: 24px;
  height: 70px;
  left: 1209px;
  position: absolute;
  top: 982px;
  width: 211px;
}

.index .text-wrapper-12 {
  color: #000000;
  font-family: "Inter", Helvetica;
  font-size: 22px;
  font-weight: 100;
  left: 890px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 421px;
  width: 248px;
}

.index .ph-image-thin {
  height: 45px;
  left: 1440px;
  position: absolute;
  top: 416px;
  width: 39px;
}

.index .text-wrapper-13 {
  color: #000000;
  font-family: "Inter", Helvetica;
  font-size: 32px;
  font-weight: 500;
  left: 1002px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 997px;
  width: 140px;
}

.index .rectangle-12 {
  height: 47px;
  left: 1334px;
  position: absolute;
  top: 475px;
  width: 142px;
}

.index .rectangle-13 {
  height: 47px;
  left: 100%;
  position: absolute;
  top: 855px;
  width: 142px;
}

.index .text-wrapper-14 {
  color: #000000;
  font-family: "Inter", Helvetica;
  font-size: 32px;
  font-weight: 500;
  left: 1247px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 996px;
  width: 166px;
}

.index .text-wrapper-15 {
  color: #ffffff;
  font-family: "Inter", Helvetica;
  font-size: 32px;
  font-weight: 500;
  left: 1372px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 480px;
  white-space: nowrap;
  width: 110px;
}

.index .text-wrapper-16 {
  color: #ffffff;
  font-family: "Inter", Helvetica;
  font-size: 32px;
  font-weight: 500;
  left: 1368px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 860px;
  white-space: nowrap;
  width: 110px;
}

.index .overlap {
  background-color: #363753;
  height: 342px;
  left: 0;
  position: absolute;
  top: 1170px;
  width: 100%;
}

.index .text-wrapper-17 {
  color: #ffffff;
  font-family: "Inter", Helvetica;
  font-size: 25px;
  font-weight: 400;
  left: 648px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 275px;
  white-space: nowrap;
}

.index .text-wrapper-18 {
  color: #ffffff;
  font-family: "Inter", Helvetica;
  font-size: 25px;
  font-weight: 400;
  left: 648px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 229px;
  white-space: nowrap;
}

.index .text-wrapper-19 {
  -webkit-text-stroke: 1px #ffffff;
  color: #ffffff;
  font-family: "Inter", Helvetica;
  font-size: 25px;
  font-weight: 400;
  left: 338px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 53px;
  white-space: nowrap;
}

.index .text-wrapper-20 {
  color: #ffffff;
  font-family: "Inter", Helvetica;
  font-size: 25px;
  font-weight: 400;
  left: 342px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 229px;
  white-space: nowrap;
}

.index .text-wrapper-21 {
  -webkit-text-stroke: 1px #ffffff;
  color: #ffffff;
  font-family: "Inter", Helvetica;
  font-size: 32px;
  font-weight: 400;
  height: 39px;
  left: 19px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 14px;
}

.index .text-wrapper-22 {
  color: #ffffff;
  font-family: "Inter", Helvetica;
  font-size: 25px;
  font-weight: 400;
  left: 339px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 97px;
  white-space: nowrap;
}

.index .text-wrapper-23 {
  color: #ffffff;
  font-family: "Inter", Helvetica;
  font-size: 25px;
  font-weight: 400;
  left: 340px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 137px;
  white-space: nowrap;
}

.index .text-wrapper-24 {
  color: #ffffff;
  font-family: "Inter", Helvetica;
  font-size: 25px;
  font-weight: 400;
  left: 340px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 182px;
  white-space: nowrap;
}

.index .text-wrapper-25 {
  -webkit-text-stroke: 1px #ffffff;
  color: #ffffff;
  font-family: "Inter", Helvetica;
  font-size: 25px;
  font-weight: 400;
  left: 647px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 51px;
  white-space: nowrap;
}

.index .text-wrapper-26 {
  color: #ffffff;
  font-family: "Inter", Helvetica;
  font-size: 25px;
  font-weight: 400;
  left: 648px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 95px;
  white-space: nowrap;
}

.index .text-wrapper-27 {
  color: #ffffff;
  font-family: "Inter", Helvetica;
  font-size: 25px;
  font-weight: 400;
  left: 648px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 137px;
  white-space: nowrap;
}

.index .text-wrapper-28 {
  color: #ffffff;
  font-family: "Inter", Helvetica;
  font-size: 25px;
  font-weight: 400;
  left: 650px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 182px;
  white-space: nowrap;
}

.index .copyright {
  color: #ffffff;
  font-family: "Inter", Helvetica;
  font-size: 19px;
  font-weight: 500;
  left: 1110px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 198px;
}

.index .span {
  color: #ffffff;
  font-family: "Inter", Helvetica;
  font-size: 19px;
  font-weight: 500;
  letter-spacing: 0;
}

.index .text-wrapper-29 {
  text-decoration: underline;
}

.index .overlap-2 {
  height: 27px;
  left: 1088px;
  position: absolute;
  top: 192px;
  width: 21px;
}

.index .ellipse {
  background-color: #36395a;
  border: 1px solid;
  border-color: #ffffff;
  border-radius: 8px/9px;
  height: 18px;
  left: 0;
  position: absolute;
  top: 5px;
  transform: rotate(-160.63deg);
  width: 16px;
}

.index .text-wrapper-30 {
  color: #ffffff;
  font-family: "Inter", Helvetica;
  font-size: 20px;
  font-weight: 400;
  left: 2px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 0;
  white-space: nowrap;
}

.index .overlap-3 {
  background-color: #ffffff;
  height: 53px;
  left: 1076px;
  position: absolute;
  top: 97px;
  width: 320px;
}

.index .image {
  height: 37px;
  left: 84px;
  object-fit: cover;
  position: absolute;
  top: 9px;
  width: 39px;
}

.index .image-2 {
  height: 39px;
  left: 258px;
  object-fit: cover;
  position: absolute;
  top: 8px;
  width: 50px;
}

.index .image-3 {
  height: 25px;
  left: 9px;
  object-fit: cover;
  position: absolute;
  top: 13px;
  width: 55px;
}

.index .image-4 {
  height: 35px;
  left: 209px;
  object-fit: cover;
  position: absolute;
  top: 11px;
  width: 35px;
}

.index .image-5 {
  height: 38px;
  left: 144px;
  object-fit: cover;
  position: absolute;
  top: 10px;
  width: 40px;
}
