/* EditCard.css */

.edit-card-container {
  max-width: 1170px;
  margin: 80px auto; /* Increased space at the top */
}

h2 {
  color: #363753;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

thead th {
  background-color: #363753;
  color: #fff;
  padding: 15px; /* Increased padding for header cells */
  text-align: left;
}

tbody td {
  border: 1px solid #ddd;
  padding: 15px; /* Increased padding for data cells */
}

input {
  width: calc(100% - 16px); /* Adjusted width for input fields */
  padding: 10px;
  margin-bottom: 5px;
  box-sizing: border-box;
}

.save-button,
.cancel-button,
.edit-button,
.delete-button {
  padding: 10px 15px;
  margin-right: 10px;
  cursor: pointer;
  border: none;
  border-radius: 5px;
  font-size: 14px;
}

.save-button {
  background-color: #4caf50; /* Changed save button color */
  color: #fff;
}

.cancel-button {
  background-color: #ddd;
  color: #363753;
}

.edit-button {
  background-color: #2196f3; /* Changed edit button color */
  color: #fff;
}

.delete-button {
  background-color: #f44336;
  color: #fff;
}

tr:nth-child(even) {
  background-color: #e5e5e5; /* Change this color as needed */
}



