/* PaymentList.css */

.payment-list-container {
  margin: 50px auto; /* Center the container */
  max-width: 1350px; /* Set a max width for better readability */
  padding: 20px;
  background-color: #ffffff; /* Background color of the container */
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Box shadow for a subtle effect */
  align-items: center;
}

h2 {
  color: #363753;
  margin-bottom: 20px;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px; /* Add space between header and table */
}

th, td {
  padding: 12px;
  text-align: left;
  border-bottom: 1px solid #e0e0e0; /* Border color for rows */
}

th {
  background-color: #363753; /* Header background color */
  color: #ffffff; /* Header text color */
}

tr:hover {
  background-color: #f5f5f5; /* Hover effect color */
}


tr:nth-child(even) {
  background-color: #e5e5e5; /* Change this color as needed */
}











