/* Transaction.css */

body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0;
}

.container-transaction {
  max-width: 1100px;
  padding: 20px;
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.transaction-header {
  color: #363753;
  margin-bottom: 20px;
}

.transaction-paragraph {
  line-height: 1.8;
  font-size: 1.2em;
  max-width: 80%;
  margin: 0 auto;
}

.card-details-button {
  display: block;
  margin-top: 20px;
  background-color: #007bff;
  color: #ffffff;
  padding: 15px 30px; /* Increase the button size */
  font-size: 1.2em; /* Increase the font size */
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.card-details-button:hover {
  background-color: #0056b3;
}
